html {
    background: url(pattern2.jpg);
    color: antiquewhite;
}

.box {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 250px minmax(0, 1fr);
}

header {
    font-family: serif;

    grid-column: 1 / 3;

    text-align: center; 

    -webkit-text-stroke: #654321 1px ; 
}
nav {
    font-family: monospace;
    
    
 }
main {
    font-family: monospace;
 }
footer {
    font-family: monospace
 };

header {
    grid-row: 1 / 2;
    grid-column: 1 / 3 ;
    height: max-content;
}
nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2 ;
}
main {
    grid-row: 2 / 3;
    grid-column: 2 / 3 ;
    height: max-content;
}
footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3 ;
    text-align: center;
    font-weight: bold;
}

footer {
    background: #483C32;
    border-radius: 10px;
    width: max-content;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
    -webkit-text-stroke: #654321 0.5px ; 
    
}

h1 {
    color: ghostwhite;
    font-family: serif;
    font-size: 50px;
    margin: 10px ;
    text-align: center;
}

img {
  width: 1000px; 
  height: 100px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

nav, main {
    background: #483C32;
    border-radius: 10px;
    padding: 20px;
 }

.nav-img {
    width: 180px;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 12px;

}


